In [2]:
import json
import plotly.express as px
import pandas as pd
import matplotlib.pyplot as plt
import geopandas

filename = 'data/test.json'
with open(filename, 'r', encoding='utf-8') as f:
    all_eq_data = json.load(f)

all_eq_dicts = all_eq_data['features']

mags, titles, lons, lats = [], [], [], []
for eq_dict in all_eq_dicts:
    mag = eq_dict['properties']['mag']
    title = eq_dict['properties']['title']
    lon = eq_dict['geometry']['coordinates'][0]
    lat = eq_dict['geometry']['coordinates'][1]
    mags.append(mag)
    titles.append(title)
    lons.append(lon)
    lats.append(lat)

data = pd.read_json('data/readable_eq_data.json', encoding='utf-8')
data
pieces = [data['properties']['mag'], data['properties']['title'], data['geometry']['coordinates']]
pd.concat(pieces)

,type,properties,geometry,id
0,Feature,"{'mag': 3.8, 'place': '59 km SE of Adak, Alask...","{'type': 'Point', 'coordinates': [-176.0915, 5...",us7000k4x6
1,Feature,"{'mag': 4.8, 'place': '206 km SE of Hihifo, To...","{'type': 'Point', 'coordinates': [-172.3631, -...",us7000k4x4
2,Feature,"{'mag': 2.51, 'place': '7 km W of Calhoun, Ken...","{'type': 'Point', 'coordinates': [-87.34433333...",nm60500763
3,Feature,"{'mag': 3, 'place': '6 km W of Calhoun, Kentuc...","{'type': 'Point', 'coordinates': [-87.328, 37....",nm60500758
4,Feature,"{'mag': 2.62, 'place': '3 km ESE of Ridgely, T...","{'type': 'Point', 'coordinates': [-89.44683333...",nm60527016
...,...,...,...,...
300,Feature,"{'mag': 4.4, 'place': None, 'time': 1684803396...","{'type': 'Point', 'coordinates': [-69.9519, 19...",us7000k34q
301,Feature,"{'mag': 4.9, 'place': 'southeast of the Loyalt...","{'type': 'Point', 'coordinates': [170.9663, -2...",us7000k34p
302,Feature,"{'mag': 2.8, 'place': '29 km ESE of Susitna No...","{'type': 'Point', 'coordinates': [-149.3275, 6...",ak0236ki1inl
303,Feature,"{'mag': 2.69, 'place': '15km SSW of Searles Va...","{'type': 'Point', 'coordinates': [-117.4471667...",ci40231903
304,Feature,"{'mag': 2.99, 'place': '10 km W of Volcano, Ha...","{'type': 'Point', 'coordinates': [-155.334, 19...",hv73416507

In [3]:
world = geopandas.read_file(geopandas.datasets.get_path('naturalearth_lowres'))
world

C:\Users\白沐\AppData\Local\Temp\ipykernel_20620\54017565.py:1: FutureWarning: The geopandas.dataset module is deprecated and will be removed in GeoPandas 1.0. You can get the original 'naturalearth_lowres' data from https://www.naturalearthdata.com/downloads/110m-cultural-vectors/.
  world = geopandas.read_file(geopandas.datasets.get_path('naturalearth_lowres'))

,pop_est,continent,name,iso_a3,gdp_md_est,geometry
0,889953.0,Oceania,Fiji,FJI,5496,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000..."
1,58005463.0,Africa,Tanzania,TZA,63177,"POLYGON ((33.90371 -0.95000, 34.07262 -1.05982..."
2,603253.0,Africa,W. Sahara,ESH,907,"POLYGON ((-8.66559 27.65643, -8.66512 27.58948..."
3,37589262.0,North America,Canada,CAN,1736425,"MULTIPOLYGON (((-122.84000 49.00000, -122.9742..."
4,328239523.0,North America,United States of America,USA,21433226,"MULTIPOLYGON (((-122.84000 49.00000, -120.0000..."
...,...,...,...,...,...,...
172,6944975.0,Europe,Serbia,SRB,51475,"POLYGON ((18.82982 45.90887, 18.82984 45.90888..."
173,622137.0,Europe,Montenegro,MNE,5542,"POLYGON ((20.07070 42.58863, 19.80161 42.50009..."
174,1794248.0,Europe,Kosovo,-99,7926,"POLYGON ((20.59025 41.85541, 20.52295 42.21787..."
175,1394973.0,North America,Trinidad and Tobago,TTO,24269,"POLYGON ((-61.68000 10.76000, -61.10500 10.890..."
176,11062113.0,Africa,S. Sudan,SSD,11998,"POLYGON ((30.83385 3.50917, 29.95350 4.17370, ..."

In [ ]:
merge=world.join(data2,on='NAME', how='right')
merge